.button:hover {
  opacity: .9;
}

.button:active {
  transform: translateY(2px);
}

.active > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isLoading,
.disabled {
  pointer-events: none;
  opacity: .6;
}


