:root {
  --primary-color: #6C90FF;
  --primary-color-rgb: 108, 144, 255;
  --secondary-color: #6E7191;
  --secondary-color-rgb: 110, 113, 145;
  --font-color: #14142B;
  --bg-color: #FFF;
  --error-color: #F44336;
  --bg-field: #FFF;
  --error-color-rgb: 244, 67, 54;
  --chat-item-hover: #FAFAFA;
  --chat-item-active: #F6F6F6;
  --achromatic-color-rgba: 0, 0, 0;
  --message-bg: #FCFCFC;
  --message-bg-creator: #6C90FF;
  --input-field: #F3F3F3;
  --input-placeholder: #C6C6C6;
  --input-text: #C6C6C6;
}

[data-theme="dark"] {
  --primary-color: #414C6F;
  --primary-color-rgb: 64, 75, 112;
  --secondary-color: #FCFCFC;
  --secondary-color-rgb: 252, 252, 252;
  --font-color: #FFF;
  --bg-color: #0F0F0F;
  --error-color: #F44336;
  --bg-field: #212121;
  --error-color-rgb: 244, 67, 54;
  --chat-item-hover: #F3F3F30D;
  --chat-item-active: #F3F3F31A;
  --achromatic-color-rgba: 255, 255, 255;
  --message-bg: #212121;
  --message-bg-creator: #414C6F;
  --input-field: #181818;
  --input-placeholder: #C6C6C666;
  --input-text: #676767;
}
